<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
</head>
<body>
  <h1>Predict a Twitter User!</h1>
  <p>Use Machine Learning to make a prediction about whether one user or another will tweet using specific text</p>
  <form action="/user_tweets" method="POST">
    <label>Twitter Username A:</label>
    <input type="text" name="username-a" placeholder="elonmusk" value="Username A">
    <label>Twitter Username B:</label>
    <input type="text" name="username-a" placeholder="the_3n1gma" value="Username B"
    <button type="submit">Get Them Tweets, Baby</button>
  </form>
</body>
</html>
